@import "tailwindcss";

@theme {
  /* Blueprint-inspired custom colors */
  --color-slate-900: #10161a;
  --color-slate-800: #182026;
  --color-slate-700: #202b33;
  --color-slate-600: #293742;
  --color-slate-500: #30404d;

  --color-primary-500: #106ba3;
  --color-primary-400: #137cbd;
  --color-primary-300: #2b95d6;

  --color-intent-success: #0f9960;
  --color-intent-warning: #d9822b;
  --color-intent-danger: #db3737;

  --font-family-sans: Inter, system-ui, sans-serif;
}

body {
  background-color: var(--color-slate-900);
  color: rgb(241 245 249);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-slate-800);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-600);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-500);
}